[submodule "libraries/eclipse.jdt.core"]
	path = libraries/eclipse.jdt.core
	url = https://github.com/Overruler/eclipse.jdt.core.git
[submodule "libraries/eclipse.jdt.debug"]
	path = libraries/eclipse.jdt.debug
	url = https://github.com/Overruler/eclipse.jdt.debug.git
[submodule "libraries/eclipse.jdt.ui"]
	path = libraries/eclipse.jdt.ui
	url = https://github.com/Overruler/eclipse.jdt.ui.git
[submodule "libraries/eclipse.pde.build"]
	path = libraries/eclipse.pde.build
	url = https://github.com/Overruler/eclipse.pde.build.git
[submodule "libraries/eclipse.pde.ui"]
	path = libraries/eclipse.pde.ui
	url = https://github.com/Overruler/eclipse.pde.ui.git
[submodule "libraries/eclipse.platform"]
	path = libraries/eclipse.platform
	url = https://github.com/Overruler/eclipse.platform.git
[submodule "libraries/eclipse.platform.common"]
	path = libraries/eclipse.platform.common
	url = https://github.com/Overruler/eclipse.platform.common.git
[submodule "libraries/eclipse.platform.debug"]
	path = libraries/eclipse.platform.debug
	url = https://github.com/Overruler/eclipse.platform.debug.git
[submodule "libraries/eclipse.platform.releng"]
	path = libraries/eclipse.platform.releng
	url = https://github.com/Overruler/eclipse.platform.releng.git
[submodule "libraries/eclipse.platform.resources"]
	path = libraries/eclipse.platform.resources
	url = https://github.com/Overruler/eclipse.platform.resources.git
[submodule "libraries/eclipse.platform.runtime"]
	path = libraries/eclipse.platform.runtime
	url = https://github.com/Overruler/eclipse.platform.runtime.git
[submodule "libraries/eclipse.platform.swt"]
	path = libraries/eclipse.platform.swt
	url = https://github.com/Overruler/eclipse.platform.swt.git
[submodule "libraries/eclipse.platform.swt.binaries"]
	path = libraries/eclipse.platform.swt.binaries
	url = https://github.com/Overruler/eclipse.platform.swt.binaries.git
[submodule "libraries/eclipse.platform.text"]
	path = libraries/eclipse.platform.text
	url = https://github.com/Overruler/eclipse.platform.text.git
[submodule "libraries/eclipse.platform.team"]
	path = libraries/eclipse.platform.team
	url = https://github.com/Overruler/eclipse.platform.team.git
[submodule "libraries/eclipse.platform.ua"]
	path = libraries/eclipse.platform.ua
	url = https://github.com/Overruler/eclipse.platform.ua.git
[submodule "libraries/eclipse.platform.ui"]
	path = libraries/eclipse.platform.ui
	url = https://github.com/Overruler/eclipse.platform.ui.git
[submodule "libraries/eclipse.rt.equinox.binaries.git"]
	path = libraries/eclipse.rt.equinox.binaries.git
	url = https://github.com/Overruler/rt.equinox.binaries.git
[submodule "libraries/eclipse.rt.equinox.binaries"]
	path = libraries/eclipse.rt.equinox.binaries
	url = https://github.com/Overruler/rt.equinox.binaries.git
[submodule "libraries/eclipse.rt.equinox.bundles"]
	path = libraries/eclipse.rt.equinox.bundles
	url = https://github.com/Overruler/rt.equinox.bundles.git
[submodule "libraries/eclipse.rt.equinox.framework"]
	path = libraries/eclipse.rt.equinox.framework
	url = https://github.com/Overruler/rt.equinox.framework.git
[submodule "libraries/eclipse.rt.equinox.p2"]
	path = libraries/eclipse.rt.equinox.p2
	url = https://github.com/Overruler/rt.equinox.p2.git
[submodule "libraries/eclipse.ecf"]
	path = libraries/eclipse.ecf
	url = https://github.com/Overruler/ecf.git
[submodule "libraries/eclipse.emf"]
	path = libraries/eclipse.emf
	url = https://github.com/Overruler/eclipse.emf.git
[submodule "libraries/eclipse.jgit"]
	path = libraries/eclipse.jgit
	url = https://github.com/Overruler/eclipse.jgit.git
[submodule "libraries/eclipse.jetty.project"]
	path = libraries/eclipse.jetty.project
	url = https://github.com/Overruler/eclipse.jetty.project.git
[submodule "libraries/eclipse.egit"]
	path = libraries/eclipse.egit
	url = https://github.com/Overruler/egit.git
[submodule "libraries/apache.ant"]
	path = libraries/apache.ant
	url = https://github.com/Overruler/ant.git
[submodule "libraries/SuperiorStreams"]
	path = libraries/SuperiorStreams
	url = https://github.com/Overruler/SuperiorStreams.git
[submodule "libraries/eclipse.jdt"]
	path = libraries/eclipse.jdt
	url = https://github.com/Overruler/eclipse.jdt.git
[submodule "libraries/eclipse.mpc"]
	path = libraries/eclipse.mpc
	url = https://github.com/Overruler/epp.mpc.git
[submodule "libraries/eclipse.epp"]
	path = libraries/eclipse.epp
	url = https://github.com/Overruler/org.eclipse.epp.packages.git
[submodule "libraries/apache.lucene-solr"]
	path = libraries/apache.lucene-solr
	url = https://github.com/Overruler/lucene-solr.git
[submodule "libraries/apache.httpclient"]
	path = libraries/apache.httpclient
	url = https://github.com/Overruler/httpclient.git
[submodule "libraries/apache.httpcore"]
	path = libraries/apache.httpcore
	url = https://github.com/Overruler/httpcore.git
[submodule "libraries/apache.felix"]
	path = libraries/apache.felix
	url = https://github.com/Overruler/felix.git
[submodule "libraries/apache.commons-logging"]
	path = libraries/apache.commons-logging
	url = https://github.com/Overruler/commons-logging.git
[submodule "libraries/apache.commons-compress"]
	path = libraries/apache.commons-compress
	url = https://github.com/Overruler/commons-compress.git
[submodule "libraries/apache.commons-codec"]
	path = libraries/apache.commons-codec
	url = https://github.com/Overruler/commons-codec.git
[submodule "libraries/apache.batik"]
	path = libraries/apache.batik
	url = https://github.com/Overruler/batik.git
[submodule "libraries/apache.xerces.xml-commons"]
	path = libraries/apache.xerces.xml-commons
	url = https://github.com/Overruler/xerces-xml-commons.git
[submodule "libraries/ow2.sat4j"]
	path = libraries/ow2.sat4j
	url = https://github.com/Overruler/SAT4J.git
[submodule "libraries/ow2.asm"]
	path = libraries/ow2.asm
	url = https://github.com/Overruler/asm-trunk.git
[submodule "libraries/orbit-sources"]
	path = libraries/orbit-sources
	url = https://github.com/Overruler/orbit-sources.git
[submodule "libraries/javaewah"]
	path = libraries/javaewah
	url = https://github.com/Overruler/javaewah.git
[submodule "libraries/apache.xalan-j"]
	path = libraries/apache.xalan-j
	url = https://github.com/Overruler/xalan-j.git
[submodule "libraries/apache.tomcat"]
	path = libraries/apache.tomcat
	url = https://github.com/Overruler/tomcat.git
[submodule "libraries/jeeeyul.eclipse-themes"]
	path = libraries/jeeeyul.eclipse-themes
	url = https://github.com/Overruler/eclipse-themes.git
[submodule "libraries/jeeeyul.swtend"]
	path = libraries/jeeeyul.swtend
	url = https://github.com/Overruler/swtend.git
[submodule "libraries/eclipse-icons.editor"]
	path = libraries/eclipse-icons.editor
	url = https://github.com/Overruler/eclipse-icons-editor.git
[submodule "libraries/unibz.instasearch"]
	path = libraries/unibz.instasearch
	url = https://github.com/Overruler/eclipse-instasearch.git
[submodule "libraries/eclipse.mylyn.versions"]
	path = libraries/eclipse.mylyn.versions
	url = https://github.com/Overruler/mylyn.versions.git
[submodule "libraries/eclipse.mylyn.tasks"]
	path = libraries/eclipse.mylyn.tasks
	url = https://github.com/Overruler/mylyn.tasks.git
[submodule "libraries/eclipse.mylyn.reviews"]
	path = libraries/eclipse.mylyn.reviews
	url = https://github.com/Overruler/mylyn.reviews.git
[submodule "libraries/eclipse.mylyn.docs"]
	path = libraries/eclipse.mylyn.docs
	url = https://github.com/Overruler/mylyn.docs.git
[submodule "libraries/eclipse.mylyn.context"]
	path = libraries/eclipse.mylyn.context
	url = https://github.com/Overruler/mylyn.context.git
[submodule "libraries/eclipse.mylyn.commons"]
	path = libraries/eclipse.mylyn.commons
	url = https://github.com/Overruler/mylyn.commons.git
[submodule "libraries/eclipse.mylyn.builds"]
	path = libraries/eclipse.mylyn.builds
	url = https://github.com/Overruler/org.eclipse.mylyn.builds.git
[submodule "libraries/nodeclipse.editbox"]
	path = libraries/nodeclipse.editbox
	url = https://github.com/Overruler/EditBox.git
[submodule "libraries/eclipse.m2e.core"]
	path = libraries/eclipse.m2e.core
	url = https://github.com/Overruler/m2e-core.git
[submodule "libraries/eclipse.e4.tools"]
	path = libraries/eclipse.e4.tools
	url = https://github.com/Overruler/e4.tools.git
[submodule "libraries/eclipse.webtools-common"]
	path = libraries/eclipse.webtools-common
	url = https://github.com/Overruler/webtools.common.git
[submodule "libraries/eclipse.xsd"]
	path = libraries/eclipse.xsd
	url = https://github.com/Overruler/org.eclipse.xsd.git
[submodule "libraries/google.gerrit"]
	path = libraries/google.gerrit
	url = https://github.com/Overruler/gerrit.git
[submodule "libraries/google.gson"]
	path = libraries/google.gson
	url = https://github.com/Overruler/google-gson.git
[submodule "libraries/google.guava"]
	path = libraries/google.guava
	url = https://github.com/Overruler/guava-libraries.git
[submodule "libraries/apache.commons-io"]
	path = libraries/apache.commons-io
	url = https://github.com/Overruler/commons-io
[submodule "libraries/apache.commons-lang"]
	path = libraries/apache.commons-lang
	url = https://github.com/Overruler/commons-lang.git
[submodule "libraries/apache.xerces2-j"]
	path = libraries/apache.xerces2-j
	url = https://github.com/Overruler/xerces2-j.git
[submodule "libraries/eclipse.webtools-sourceediting"]
	path = libraries/eclipse.webtools-sourceediting
	url = https://github.com/Overruler/webtools.sourceediting.git
[submodule "libraries/google.protobuf"]
	path = libraries/google.protobuf
	url = https://github.com/Overruler/protobuf.git
[submodule "libraries/antlr.antlr3"]
	path = libraries/antlr.antlr3
	url = https://github.com/Overruler/antlr3.git
[submodule "libraries/apache.maven.indexer"]
	path = libraries/apache.maven.indexer
	url = https://github.com/Overruler/maven-indexer.git
[submodule "libraries/kohsuke.args4j"]
	path = libraries/kohsuke.args4j
	url = https://github.com/Overruler/args4j.git
[submodule "libraries/eclipse.egit.github"]
	path = libraries/eclipse.egit.github
	url = https://github.com/Overruler/egit-github.git
[submodule "libraries/eclipse.gef"]
	path = libraries/eclipse.gef
	url = https://github.com/Overruler/org.eclipse.gef.git
[submodule "libraries/eclipse.webtools-common.fproj"]
	path = libraries/eclipse.webtools-common.fproj
	url = https://github.com/Overruler/webtools.common.fproj.git
[submodule "libraries/jsoup"]
	path = libraries/jsoup
	url = https://github.com/Overruler/jsoup.git
[submodule "libraries.nodeclipse.pluginslist"]
	path = libraries.nodeclipse.pluginslist
	url = https://github.com/Overruler/org.nodeclipse.pluginslist.git
[submodule "libraries/nodeclipse.pluginslist"]
	path = libraries/nodeclipse.pluginslist
	url = https://github.com/Overruler/org.nodeclipse.pluginslist.git
[submodule "libraries/eclipse.m2e.workspace"]
	path = libraries/eclipse.m2e.workspace
	url = https://github.com/Overruler/org.eclipse.m2e.workspace.git
[submodule "libraries/retired-apache-sources"]
	path = libraries/retired-apache-sources
	url = https://github.com/Overruler/retired-apache-sources.git
[submodule "libraries/springsource.eclipse-integration-commons"]
	path = libraries/springsource.eclipse-integration-commons
	url = https://github.com/Overruler/eclipse-integration-commons.git
[submodule "libraries/apache.log4j"]
	path = libraries/apache.log4j
	url = https://github.com/apache/log4j.git
[submodule "libraries/apache.commons-collections"]
	path = libraries/apache.commons-collections
	url = https://github.com/apache/commons-collections.git
